<ion-header>
  <ion-toolbar>
    <ion-title>Logistica</ion-title>
  </ion-toolbar>
</ion-header>
<ion-img src="../../assets/img/logistica.jpg"> 
</ion-img>
<ion-content>
  <ion-col >
    <p style="text-align: justify;">
       Eixo Tecnológico: Gestão e Negócios
    </p>
    <p style="text-align: justify;">
        O técnico em Logística executa e colabora na gestão dos processos de planejamento, operação e controle, programação da produção de bens e serviços, programação de manutenção de máquinas e de equipamentos, compras, recebimento, armazenamento, estoque, movimentação, expedição, transporte e distribuição de materiais e produtos. Presta atendimento aos clientes. Implementa os procedimentos de controle de custos, qualidade, segurança e higiene do trabalho no sistema logístico.
<p style="text-align: justify;">
        Mercado de Trabalho: Instituições públicas, privadas e do terceiro setor. O Técnico em Logística atua em empresas industriais, comerciais, de serviços e do agronegócio, em qualquer ponto da cadeia logística e das funções correspondestes a ela, desde o relacionamento com os fornecedores, passando pelos processos de logística de entrada, operações, logística de saída, pós-venda e logística reversa, com visão de gestão integrada do processo, de modo a otimizar custos e nível de serviço.
    </p>
    <p>
      Período: Noite<br>
      Duração: 18 meses
      </p>
</ion-col>
</ion-content>
<ion-footer>
    <ion-toolbar>
      
     <ion-button href="/">
      Voltar</ion-button>
    </ion-toolbar>
  </ion-footer>
