<ion-header>
  <ion-toolbar>
    <ion-title>Serviços Juridicos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-img src="../../assets/img/sj.jpg"> 
</ion-img>
<ion-content>
  <ion-col >
    <p style="text-align: justify;">
       Eixo Tecnológico: Gestão e Negócios
    </p>
    <p style="text-align: justify;">
        Cumpre as determinações legais e judiciais atribuídas aos cartórios judiciais, lavrando atos, autuando processos e procedendo aos registros cabíveis. Expede mandados, traslados, cartas precatórias, rogatórias, certidões, entre outros. É responsável pelo gerenciamento e pelo arquivo de processos e de documentação judicial em geral. Presta atendimento ao público.
<p style="text-align: justify;">
         Mercado de Trabalho: Empresas privadas e setor público.
    </p>
    <p>
      Período: Noite<br>
      Duração: 18 meses
      </p>
</ion-col>
</ion-content>
<ion-footer>
    <ion-toolbar>
      
     <ion-button href="/">
      Voltar</ion-button>
    </ion-toolbar>
  </ion-footer>
