<ion-header>
  <ion-toolbar>
    <ion-title>Desenvolvimento de Sistemas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-img src="../../assets/img/ds.jpg"> 
</ion-img>
<ion-content>
  <ion-col >
     <p style="text-align: justify;">
       Eixo Tecnológico: Informação e Comunicação
     </p>
     <p style="text-align: justify;">
         aplicar os fundamentos da computação e da tecnologia de informação de forma a
 situar os conhecimentos adquiridos durante o curso em um contexto mais amplo;
 
 utilizar sistemas operacionais e softwares no apoio ao desenvolvimento de
 sistemas;
 
 empregar fundamentos de redes de computadores e Internet aplicados ao
 desenvolvimento de sistemas;
 
 utilizar lógica de programação e algoritmos na construção de software;
 utilizar ambientes de desenvolvimento para codificar e depurar programas;
 efetuar testes de qualidade de software e sistemas;
 analisar, projetar e documentar sistemas de informação que atendam aos requisitos
 do negócio;
 
 projetar, implementar e utilizar bancos de dados no desenvolvimento de sistemas;
 utilizar os fundamentos da segurança da informação de forma a permitir a
 identificação de ameaças e o comportamento preventivo;
 
 desenvolver ideias criativas e inovadoras na resolução de problemas
 computacionais;
 
 comunicar-se com eficiência na área profissional, com a utilização da terminologia
 técnica e/ ou científica e de acordo com os gêneros textuais e modelos
 
 convencionados (documentação e redação técnica).
 
 <p style="text-align: justify;">
         Mercado de Trabalho: Instituições públicas, privadas e do terceiro setor que demandem programação de computadores.
     </p>
     <p>
       Período: Integral<br>
       Duração: 3 Anos
       </p>
 </ion-col>
</ion-content>
<ion-footer>
    <ion-toolbar>
      
     <ion-button href="/">
      Voltar</ion-button>
    </ion-toolbar>
  </ion-footer>
