<ion-header>
    <ion-toolbar>
      <ion-title>Emfermagem</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img src="../../assets/img/contabilidade.jpg"> 
  </ion-img>
  <ion-content>
    <ion-col >
      <p style="text-align: justify;">
          Eixo Tecnológico: Gestão e Negócios
      </p>
      <p style="text-align: justify;">
          É o profissional que desempenha tarefas relativas à contabilidade e à administração das organizações. Analisa a documentação contábil e elabora planos de contas. Organiza, controla e arquiva documentos relativos à atividade contábil/administrativa e controla as movimentações. Constitui e regulariza empresas, identifica documentos e informações, atende à fiscalização e procede a consultoria empresarial. Executa a contabilidade geral, operacionaliza a contabilidade de custos e efetua contabilidade gerencial.
          Administra o departamento de pessoal e realiza controle patrimonial.
      </p>
  <p style="text-align: justify;">
      Mercado de Trabalho: Escritórios de contabilidade, órgãos governamentais, departamentos de contabilidade de empresas comerciais, industriais e de serviços.
      </p>
      <p>
        Período: Noite<br>
        Duração: 18 Meses
        </p>
  </ion-col>
  </ion-content>
  <ion-footer>
      <ion-toolbar>
        
       <ion-button href="/">
        Voltar</ion-button>
      </ion-toolbar>
    </ion-footer>