<ion-header>
  <ion-toolbar>
    <ion-title>Emfermagem</ion-title>
  </ion-toolbar>
</ion-header>
<ion-img src="../../assets/img/enfermagem.jpg"> 
</ion-img>
<ion-content>
  <ion-col >
    <p style="text-align: justify;">
        Eixo Tecnológico:  Ambiente e Saúde
    </p>
    <p style="text-align: justify;">
        Atua na promoção, prevenção, recuperação e reabilitação dos processos saúde-doença. Colabora com o atendimento das necessidades de saúde do paciente/cliente, família e comunidade, em todas as faixas etárias. Desenvolve ações educativas para o autocuidado, bem como de segurança no trabalho e de biossegurança nas ações de enfermagem. Promove ações de orientação e preparo do paciente para exames. Presta assistência de enfermagem a pacientes clínicos e cirúrgicos em qualquer fase do ciclo vital. Participa de uma equipe multiprofissional com visão crítica e reflexiva, atuando de acordo com princípios éticos.
        Exerce ações de cidadania e de preservação ambiental.
    </p>
<p style="text-align: justify;">
    Mercado de Trabalho: Instituições hospitalares, ambulatoriais, clínicas, empresas, serviços sociais, serviços de urgência, unidades básicas de saúde, Programa Saúde da Família, home care (domicílio) e instituições de longa permanência para idosos.
    </p>
    <p>
      Período: Tarde<br>
      Duração: 2 anos
      </p>
</ion-col>
</ion-content>
<ion-footer>
    <ion-toolbar>
      
     <ion-button href="/">
      Voltar</ion-button>
    </ion-toolbar>
  </ion-footer>