<ion-header>
  <ion-toolbar>
    <ion-title>Informática Para Internet</ion-title>
  </ion-toolbar>
</ion-header>
<ion-img src="../../assets/img/infonet.png"> 
</ion-img>
<ion-content>
  <ion-col >
    <p style="text-align: justify;">
      Eixo Tecnológico: Informação e Comunicação
    </p>
    <p style="text-align: justify;">
        Desenvolve e realiza manutenções em websites, portais na internet e intranet. Utiliza ferramentas de desenvolvimento de projetos para construir soluções que auxiliam o processo de criação de interfaces e aplicativos empregados no comércio e marketing eletrônicos de Websites.
<p style="text-align: justify;">
        Mercado de Trabalho: Instituições públicas, privadas e do terceiro setor que demandem programação de computadores para internet.
    </p>
    <p>
      Período: Noite<br>
      Duração: 18 meses
      </p>
</ion-col>
</ion-content>
<ion-footer>
    <ion-toolbar>
      
     <ion-button href="/">
      Voltar</ion-button>
    </ion-toolbar>
  </ion-footer>
