<ion-header>
  <ion-toolbar>
    <ion-title>Etim informatica</ion-title>
  </ion-toolbar>
</ion-header>
<ion-img src="../../assets/img/inf.jpg"> 
</ion-img>
<ion-content>
  <ion-col >
    <p style="text-align: justify;">
        Eixo Tecnológico: Informação e Comunicação
    </p>
    <p style="text-align: justify;">
        O técnico em Informática desenvolve e opera sistemas, aplicações e interfaces gráficas. Monta estruturas de banco de dados e codifica programas. Projeta, implanta e realiza manutenção de sistemas e aplicações. Seleciona recursos de trabalho, linguagens de programação, ferramentas e metodologias para o desenvolvimento de sistemas.
    </p>
<p style="text-align: justify;">
        Mercado de Trabalho: Instituições públicas, privadas e do terceiro setor que demandem sistemas computacionais, especialmente envolvendo programação de computadores.
    </p>
    <p>
      Período: Integral<br>
      Duração: 3 anos
      </p>
</ion-col>
</ion-content>
<ion-footer>
    <ion-toolbar>
      
     <ion-button href="/">
      Voltar</ion-button>
    </ion-toolbar>
  </ion-footer>