<ion-header>
  <ion-toolbar>
    <ion-title>Tecnico em Administração</ion-title>
  </ion-toolbar>
</ion-header>
<ion-img src="../../assets/img/adm.png"> 
</ion-img>
<ion-content>
  <ion-col >
    <p style="text-align: justify;">
      Eixo Tecnológico: Gestão e Negócios
    </p>
    <p style="text-align: justify;">
      Adota postura ética na execução da rotina administrativa, na elaboração do planejamento da produção e materiais, recursos humanos, financeiros e mercadológicos. Realiza atividades de controles e auxilia nos processos de direção utilizando ferramentas da informática básica. Fomenta ideias e práticas empreendedoras.
<p style="text-align: justify;">
      Mercado de Trabalho: Instituições públicas, privadas e do terceiro setor.
    </p>
    <p>
      Período: Noite<br>
      Duração: 18 meses
      </p>
</ion-col>
</ion-content>
<ion-footer>
    <ion-toolbar>
      
     <ion-button href="/">
      Voltar</ion-button>
    </ion-toolbar>
  </ion-footer>
