<ion-header>
  <ion-toolbar>
    <ion-title>Segurança do Trabalho</ion-title>
  </ion-toolbar>
</ion-header>
<ion-img src="../../assets/img/st.jpg"> 
</ion-img>
<ion-content>
  <ion-col >
    <p style="text-align: justify;">
        Eixo Tecnológico: Segurança
    </p>
    <p style="text-align: justify;">
        Trabalha com ações prevencionistas com auxílio de métodos e técnicas de identificação, avaliação e medidas de controle de riscos ambientais. Desenvolve ações educativas na área de saúde e segurança do trabalho; orienta o uso de equipamentos de proteção; coleta e organiza informações de saúde e de segurança no trabalho; avalia e executa diversos programas de prevenção, inclusive Programa de Prevenção de Riscos Ambientais. Investiga, analisa acidentes e recomenda medidas de prevenção e controle.
<p style="text-align: justify;">
        Mercado de Trabalho: Empresas públicas e privadas, como indústrias, hospitais, empresas comerciais.
    </p>
    <p>
      Período: Noite<br>
      Duração: 18 meses
      </p>
</ion-col>
</ion-content>
<ion-footer>
    <ion-toolbar>
      
     <ion-button href="/">
      Voltar</ion-button>
    </ion-toolbar>
  </ion-footer>
