<ion-header>
  <ion-toolbar>
    <ion-title>
      Etec Antonio Devisate
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../../assets/img/log2019-1.png"> 
    </ion-img>
  <ion-grid>
    <ion-row>
      <ion-col size="7">
      <h1>
          Histórico
        </h1>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col >
        <p style="text-align: justify;">
            O Ensino Profissional no Estado de São Paulo, teve início na década de 1940. A indústria apresentava um bom crescimento e por essa razão havia necessidade de mão de obra qualificada. Foi neste período que surgiram nas grandes cidades do Estado de São Paulo as primeiras Escolas Industriais, como: São Paulo, Campinas, Santos, Ribeirão Preto, Sorocaba, Piracicaba, Araraquara, Jau, etc.
        </p>
        <p style="text-align: justify;">
            Os alunos dessas Escolas tinham período integral de estudos, sendo que num período estudava-se o núcleo comum do Currículo escolar e no outro a parte profissionalizante. O ensino era de um currículo que atendia as necessidades da mão de obra procurada pela indústria, que assim sendo todos os alunos ao concluirem o curso tinham emprego garantido na indústria.
        </p>
        </ion-col>
      </ion-row>
  </ion-grid>
  <ion-grid>
      <ion-item-group>
          <ion-item-divider>
            <ion-label>Devisate sede</ion-label>
          </ion-item-divider>
          <ion-img src="../../assets/img/etec-marilia.jpg"> 
          </ion-img>
          <ion-item href="informatica">
            <ion-label >Etim Informática</ion-label>
          </ion-item>
          <ion-item href="ds">
            <ion-label>Etim Desenvolvimento de Sistemas</ion-label>
          </ion-item>
          <ion-item href="adm">
            <ion-label>Etim Administração</ion-label>
          </ion-item>
          <ion-item href="tecadm">
            <ion-label>Tecnico em Administração</ion-label>
          </ion-item>
          <ion-item href="st">
            <ion-label>Segurança do trabalho</ion-label>
          </ion-item>
          <ion-item href="contabilidade">
              <ion-label>Contabilidade</ion-label>
            </ion-item>
            <ion-item href="enfermagem">
                <ion-label>Enfermagem</ion-label>
              </ion-item>
          <ion-item href="tecds">
            <ion-label>Dessenvolvimento de Sistemas</ion-label>
          </ion-item>
        </ion-item-group>
        
        <ion-item-group>
          <ion-item-divider>
            <ion-label>Devisate Extensão</ion-label>
          </ion-item-divider>
          <ion-img src="../../assets/img/bicudo.png"> 
          </ion-img>
          <ion-item href="infonet">
            <ion-label>Informática para a internet</ion-label>
          </ion-item>
          <ion-item href="logistica" >
            <ion-label>Logistica</ion-label>
          </ion-item>
          <ion-item href="sj">
            <ion-label>Serviços Juridicos</ion-label>
          </ion-item>
        </ion-item-group>   
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      Tecnologias em Mobilidade
    </ion-title>
  </ion-toolbar>
</ion-footer>